html {
  font-family: 'Inconsolata', monospace;
  height: 100%;

}

body {
  font-family: 'Inconsolata', monospace;
  height: 100%;
  font-size: 16px;

}

header {
  height: 20%;
  display: flex;
  align-items: center;
}

/* Logo */
.logo{
  width: 50%;
}

/* Nav */
.navigate{
  height: 10%;
  display: flex;
  align-items: center;
}
.navLinks{
list-style-type: none;
text-align: center;
}

ul{
  padding: 0;
  margin: 0;
}


.navLinks li{
  display: inline-block;
}

.navLinks li a {
  color: black;
  font-weight: bold;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.navLinks li a:hover{
  transition: 1s;
  background-color: black;
  color: white;
}
.navbar {
  margin: 0;
}
.custom-nav {
  /*background-color:black;*/
}
/* Jumbo */
.jumbo {
  background: url(../images/opt-phil.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80%;
  text-align: center;
  width:100%;
}
.jumbo h1{
  text-align: center;
  color: black;
  font-size: 54px;
}

/* Project Display Section */
#project-display {
  text-align: center;
  padding-top: 50px;
  background-color: #C0C0C0;

}

#project-display p {
  margin-top: 15px;
}

.modal-body , .modal-header{
  color: black;
}

.project-row{
  margin: 10%;
}

.project-img {
  height: 500px;
}

/* About Me */
#about {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 30px;
}

.me {
  height: 400px;
}

.skills-logo {
  height: 100px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

#skills-list {
  padding: 0;
}

#skills-list li {
  list-style-type: none;
}

/* Footer */
#footer {
  text-align: center;
  background-color: #313131;
  color: white;
  margin: 0;
  padding: 100px;
}

#footer h1 {
  margin: 0;
}

.social  {
  height: 100px;
  width: 100px;
  margin: 20px 20px 20px 20px;
  background-color: #848484;

}

#footer a:hover .social{
  transition: 2s;
}

@media (max-width: 990px){
  .navigate {
    height: 15%;

  }
  #skills {
    height: 60%;
  }
}

@media (max-width: 750px){
  .navigate {
    HEIGHT: 30%;
  }

  .navigate li {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .project-img{
    height: 300px;
  }


}
