html {
  font-family: 'Inconsolata', monospace;
  height: 100%;

}

body {
  font-family: 'Inconsolata', monospace;
  height: 100%;

}

header {
  height: 20%;
  display: flex;
  align-items: center;
}

/* Logo */
.logo{
  width: 50%;
}

/* Nav */
.navbar {
  margin: 0;
}
.custom-nav {
  /*background-color:black;*/
}
/* Jumbo */
.jumbo {
  background: url(../images/new.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80%;
  text-align: center;
  width:100%;
}
.jumbo h1{
  text-align: center;
  color: black;
  font-size: 54px;
}

/* Project Display Section */
#project-display {
  background-color: #313131;
  text-align: center;
  color: white;
  padding-top: 50px;
}

#project-display p {
  margin-top: 15px;
}

.projects {
  text-align: center;
}

.project-img {
  height: 150px;
  width:350px;
}

/* About Me */
#about {
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px;
}

.me {
  height: 400px;
}

.skills-logo {
  height: 100px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

#skills-list {
  padding: 0;
}

#skills-list li {
  list-style-type: none;
}

/* Footer */
#footer {
  text-align: center;
  background-color: #313131;
  color: white;
  margin: 0;
  padding: 100px;
}

#footer h1 {
  margin: 0;
}

.social  {
  height: 100px;
  width: 100px;
  margin: 20px 20px 20px 20px;
  background-color: #848484;

}

#footer a:hover .social{
  background-color: #fff;
  transition: 2s;
}

@media (max-width: 990px){
  .navigate {
    height: 15%;

  }
  #skills {
    height: 60%;
  }
}

@media (max-width: 750px){
  .navigate {
    HEIGHT: 30%;
  }

  .navigate li {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }


}
